root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
# Jetpack Compose @Composable functions are PascalCase by convention.
ktlint_function_naming_ignore_when_annotated_with = Composable, Preview
